.fade-enter-active, .fade-leave-active {
  transition: all .5s ease-in .3s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
  width: 0;
}
#lotteryContainer {
  position:relative;
}
a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var
{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
font,h1,h2,h3,p,ul{margin:0;padding:0}
h1,h2,h3{font-size:1em}
.loading{background:url(../images/q1.png);
  background-size:25px;height:25px;left:50%;margin:-12px 0 0 -12px;position:absolute;top:50%;width:25px;z-index:1000}
@-webkit-keyframes loadingRotate{0%{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(1turn)}}
@keyframes loadingRotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}
.loading span{-webkit-animation:loadingRotate 1s linear infinite;animation:loadingRotate 1s linear infinite;
    background:url(../images/q2.png);
    background-size:25px;display:block;height:25px;width:25px}
.toast{background:rgba(0,0,0,.7);border-radius:.4em;color:#fff;font-size:.9375em;left:50%;line-height:1.375em;margin-left:-7.75em;padding:.75em;
  position:absolute;text-align:center;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:14em;z-index:1000}
.preload{height:0!important;opacity:0!important;pointer-events:none!important;position:absolute!important;width:0!important}
@-webkit-keyframes show{0%{opacity:0}}
@keyframes show{0%{opacity:0}}
@-webkit-keyframes hide{to{opacity:0}}
@keyframes hide{to{opacity:0}}
@-webkit-keyframes popupDrop{
  0%{opacity:0;-webkit-transform:translate3d(0,-150%,0)}
  40%{opacity:1;-webkit-transform:translate3d(0,-48%,0)}
  55%{opacity:1;-webkit-transform:translate3d(0,-51.5%,0)}
  70%{opacity:1;-webkit-transform:translate3d(0,-49%,0)}
  85%{opacity:1;-webkit-transform:translate3d(0,-50.5%,0)}
  to{opacity:1;-webkit-transform:translate3d(0,-50%,0)}}
@keyframes popupDrop{
  0%{opacity:0;transform:translate3d(0,-150%,0)}
  40%{opacity:1;transform:translate3d(0,-48%,0)}
  55%{opacity:1;transform:translate3d(0,-51.5%,0)}
  70%{opacity:1;transform:translate3d(0,-49%,0)}
  85%{opacity:1;transform:translate3d(0,-50.5%,0)}
  to{opacity:1;transform:translate3d(0,-50%,0)}}
html{font-family:sans-serif;font-size:19px;-webkit-tap-highlight-color:rgba(0,0,0,0);
  tap-highlight-color:transparent;-webkit-user-select:none;user-select:none}
@media(max-width:470px){html{font-size:18px}}
@media(max-width:440px){html{font-size:17px}}
@media(max-width:410px){html{font-size:16px}}
@media(max-width:380px){html{font-size:15px}}
@media(max-width:350px){html{font-size:14px}}
@media(max-width:320px){html{font-size:13px}}
.con{overflow:hidden}
.con,.cover{height:100%}
.con,.cover,.square{left:0;position:absolute;top:0;width:100%}
.square{padding-bottom:100%}
.middle{left:50%;position:absolute;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.flex_c,.flex_l,.flex_r{align-items:center;-webkit-box-align:center;box-align:center;
  -webkit-box-orient:horizontal;
  box-orient:horizontal;
  display:-webkit-box;
  display:box;
  display:flex;
  flex-direction:row}
.flex_l{-webkit-box-pack:start;box-pack:start;justify-content:flex-start}
.flex_c{-webkit-box-pack:center;box-pack:center;justify-content:center}
.flex_r{-webkit-box-pack:end;box-pack:end;justify-content:flex-end}
@-webkit-keyframes overlayShow{0%{opacity:0}}
@keyframes overlayShow{0%{opacity:0}}
.overlay{-webkit-animation:overlayShow .3s;
  animation:overlayShow .3s;
  background:#000;
  height:100%;left:0;opacity:.5;position:absolute;top:0;width:100%}
.hr_wrap.hr_error .hr_img0,.hr_wrap.hr_exhaust .hr_img0,.hr_wrap.hr_friend_exhaust .hr_img0,.hr_wrap.hr_helped .hr_img0,
.hr_wrap.hr_l2_2 .hr_img0,.hr_wrap.hr_l3_1 .hr_img0,.hr_wrap.hr_l4_1 .hr_img0,.hr_wrap.hr_l4_2 .hr_img0,.hr_wrap.hr_myself
.hr_img0,.hr_wrap.hr_new .hr_img0,.hr_wrap.hr_risk .hr_img0,.hr_wrap.hr_scan .hr_img0,.hr_wrap.hr_show_prize .hr_img0,
.hr_wrap.hr_suc .hr_img0,.hr_wrap.hr_unhelped .hr_img0,.hr_wrap.hr_wrong .hr_img0,.preload.hr_img0{
  background-image:url(../images/b1.jpg);
  position:fixed}
.hr_wrap.hr_error .hr_img1,.hr_wrap.hr_exhaust .hr_img1,.hr_wrap.hr_friend_exhaust .hr_img1,.hr_wrap.hr_helped .hr_img1,
.hr_wrap.hr_l2_2 .hr_img1,.hr_wrap.hr_l3_1 .hr_img1,.hr_wrap.hr_l4_1 .hr_img1,.hr_wrap.hr_l4_2 .hr_img1,.hr_wrap.hr_myself
.hr_img1,.hr_wrap.hr_new .hr_img1,.hr_wrap.hr_risk .hr_img1,.hr_wrap.hr_scan .hr_img1,.hr_wrap.hr_show_prize .hr_img1,
.hr_wrap.hr_suc .hr_img1,.hr_wrap.hr_unhelped .hr_img1,.hr_wrap.hr_wrong .hr_img1,.preload.hr_img1{
  background-image:url(../images/b2.png);
  position:fixed}
.preload.hr_img2{
  background-image:url(../images/music.png);
  position:fixed}
.hr_wrap.hr_error .hr_img3,.hr_wrap.hr_exhaust .hr_img3,.hr_wrap.hr_friend_exhaust .hr_img3,.hr_wrap.hr_helped .hr_img3,
.hr_wrap.hr_myself .hr_img3,.hr_wrap.hr_new .hr_img3,.hr_wrap.hr_risk .hr_img3,.hr_wrap.hr_scan .hr_img3,.hr_wrap.hr_suc .hr_img3,
.hr_wrap.hr_unhelped .hr_img3,.hr_wrap.hr_wrong .hr_img3,.preload.hr_img3{
  background-image:url(../images/top.png);
  position:fixed}
.hr_wrap.hr_error .hr_img4,.hr_wrap.hr_exhaust .hr_img4,.hr_wrap.hr_friend_exhaust .hr_img4,.hr_wrap.hr_helped .hr_img4,
.hr_wrap.hr_myself .hr_img4,.hr_wrap.hr_new .hr_img4,.hr_wrap.hr_risk .hr_img4,.hr_wrap.hr_scan .hr_img4,.hr_wrap.hr_suc .hr_img4,
.hr_wrap.hr_unhelped .hr_img4,.hr_wrap.hr_wrong .hr_img4,.preload.hr_img4{
  background-image:url(../images/rest.png);
  position:absolute}
.hr_wrap.hr_error .hr_img5,.hr_wrap.hr_exhaust .hr_img5,.hr_wrap.hr_friend_exhaust .hr_img5,.hr_wrap.hr_helped .hr_img5,
.hr_wrap.hr_myself .hr_img5,.hr_wrap.hr_new .hr_img5,.hr_wrap.hr_risk .hr_img5,.hr_wrap.hr_scan .hr_img5,.hr_wrap.hr_suc .hr_img5,
.hr_wrap.hr_unhelped .hr_img5,.hr_wrap.hr_wrong .hr_img5,.preload.hr_img5{
  background-image:url(../images/items.png);
  position:absolute}
.hr_wrap.hr_l2_2 .hr_img6,.hr_wrap.hr_l3_1 .hr_img6,.hr_wrap.hr_l4_1 .hr_img6,.hr_wrap.hr_l4_2 .hr_img6,.hr_wrap.hr_show_prize .hr_img6,
.preload.hr_img6{
  background-image:url(../images/topno.png);
  position:fixed}
.hr_wrap.hr_l4_1 .hr_img7,.hr_wrap.hr_l4_2 .hr_img7,.hr_wrap.hr_show_prize .hr_img7,.preload.hr_img7{
  background-image:url(../images/items2.png);
  position:absolute}
.hr_wrap.hr_l4_1 .hr_img8,.hr_wrap.hr_l4_2 .hr_img8,.preload.hr_img8{
  background-image:url(../images/beget.png);
  position:absolute}
.hr_wrap.hr_l2_1 .hr_img9,.hr_wrap.hr_l2_2 .hr_img9,.hr_wrap.hr_l3_1 .hr_img9,.hr_wrap.hr_l4_1 .hr_img9,.preload.hr_img9{
  background-image:url(../images/boxes.png);
  position:absolute}
.hr_wrap.hr_l2_2 .hr_img10,.hr_wrap.hr_l3_1 .hr_img10,.hr_wrap.hr_l4_1 .hr_img10,.preload.hr_img10{
  background-image:url(../images/pos.png);
  position:absolute}
.hr_img11,.preload.hr_img11{
  background-image:url(../images/items3.png);
  position:absolute}
.hr_wrap.hr_l1_1 .hr_img12,.hr_wrap.hr_l2_1 .hr_img12,.hr_wrap.hr_login .hr_img12,.hr_wrap.hr_risk .hr_img12,.preload.hr_img12{
  background-image:url(../images/b3.png);
  position:absolute}
.hr_wrap.hr_l1_1 .hr_img13,.hr_wrap.hr_l2_1 .hr_img13,.hr_wrap.hr_login .hr_img13,.hr_wrap.hr_risk .hr_img13,.preload.hr_img13{
  background-image:url(../images/b4.jpg);
  position:absolute}
.hr_wrap.hr_l1_1 .hr_img14,.hr_wrap.hr_l2_1 .hr_img14,.hr_wrap.hr_login .hr_img14,.hr_wrap.hr_risk .hr_img14,.preload.hr_img14{
  background-image:url(../images/alpha.png);
  position:absolute}
.hr_wrap.hr_l2_1 .hr_img15,.hr_wrap.hr_l2_2 .hr_img15,.preload.hr_img15{
  background-image:url(../images/items4.png);
  position:absolute}
.hr_wrap.hr_l2_1 .hr_img16,.hr_wrap.hr_l2_2 .hr_img16,.preload.hr_img16{
  background-image:url(../images/tos.png);
  position:absolute}
.hr_wrap.hr_l2_1 .hr_img17,.hr_wrap.hr_l2_2 .hr_img17,.preload.hr_img17{
  background-image:url(../images/task.jpg);
  position:absolute}
.hr_wrap.hr_l2_1 .hr_img18,.hr_wrap.hr_l2_2 .hr_img18,.preload.hr_img18{
  background-image:url(../images/cir.png);
  position:absolute}
.hr_wrap{background:#6cc66c;height:auto;min-height:100%}
.hr_wrap.hr_show_in{background:#fff}
.hr_wrap.hr_l1_1,.hr_wrap.hr_l2_1,.hr_wrap.hr_login,.hr_wrap.hr_risk{
  background:#99cb86}
.hr_logo{background-position:78.695% -.17715%;
  background-size:500%;left:0;padding-bottom:9.697%;
  pointer-events:none;position:fixed;top:0;width:19.125%;z-index:25}
.hr_wrap.hr_show_in .hr_logo{display:none}
.hr_wrap.hr_l1_1 .hr_logo,.hr_wrap.hr_l2_1 .hr_logo,.hr_wrap.hr_l2_2 .hr_logo,.hr_wrap.hr_l3_1 .hr_logo,.hr_wrap.hr_l4_1 .hr_logo,
.hr_wrap.hr_l4_2 .hr_logo,.hr_wrap.hr_login .hr_logo,.hr_wrap.hr_risk .hr_logo,.hr_wrap.hr_scan .hr_logo{
  display:block}
.hr_bg{background-position:bottom;background-size:cover;bottom:0;top:auto}
.hr_wrap.hr_show_in .hr_bg{display:none}
.hr_wrap.hr_l2_2 .hr_bg,.hr_wrap.hr_l3_1 .hr_bg,.hr_wrap.hr_l4_1 .hr_bg,.hr_wrap.hr_l4_2 .hr_bg,.hr_wrap.hr_scan .hr_bg{
  display:block}
.hr_banner_bg,.hr_wrap.hr_new .hr_bg{background-position:top}
.hr_banner_bg{left:0;padding-bottom:32%;top:0;width:100%;z-index:10}
.hr_wrap.hr_show_in .hr_banner_bg{display:none}
.hr_wrap.hr_l2_2 .hr_banner_bg,.hr_wrap.hr_l3_1 .hr_banner_bg,.hr_wrap.hr_l4_1 .hr_banner_bg,.hr_wrap.hr_l4_2 .hr_banner_bg,
.hr_wrap.hr_scan .hr_banner_bg{display:block}
.hr_wrap.hr_show_in .hr_banner_bg,.hr_wrap.hr_show_prize .hr_banner_bg{padding-bottom:28%}
.hr_tree_l{background-position:97% -40%;background-size:248.82%;background-repeat:no-repeat;bottom:0;left:-1%;
  padding-bottom:144.65%;pointer-events:none;width:20.202%;z-index:10}
  .hr_wrap.hr_show_in .hr_tree_l{display:none}
.hr_wrap.hr_l2_2 .hr_tree_l,.hr_wrap.hr_l3_1 .hr_tree_l,.hr_wrap.hr_l4_1 .hr_tree_l,.hr_wrap.hr_l4_2 .hr_tree_l,
.hr_wrap.hr_scan .hr_tree_l{display:block}
.hr_tree_r{background-position:-2% 900%;background-size:180.3%;background-repeat:no-repeat;bottom:0;
  padding-bottom:148.82%;pointer-events:none;right:0;width:27.879%;z-index:10}
.hr_wrap.hr_show_in .hr_tree_r{display:none}
.hr_wrap.hr_l2_2 .hr_tree_r,.hr_wrap.hr_l3_1 .hr_tree_r,.hr_wrap.hr_l4_1 .hr_tree_r,.hr_wrap.hr_l4_2 .hr_tree_r,
.hr_wrap.hr_scan .hr_tree_r{display:block}
.hr_banner{
  background-size:100% 100%;left:0;padding-bottom:50.5%;pointer-events:none;
  top:0;width:100%;z-index:10}
.hr_wrap.hr_show_in .hr_banner{display:none}
.hr_wrap.hr_l2_2 .hr_banner,.hr_wrap.hr_l3_1 .hr_banner,.hr_wrap.hr_l4_1 .hr_banner,.hr_wrap.hr_l4_2 .hr_banner{display:block}
.hr_rule_btn{background:rgba(3,81,65,.6);border-radius:9rem 0 0 9rem;color:#fff;font-size:.875rem;
  padding:.625rem .625rem .625rem .875rem;position:fixed;right:0;top:0;
  -webkit-transform:translateY(30%);
  transform:translateY(30%);
  z-index:20}
.hr_wrap.hr_show_in .hr_rule_btn,.hr_wrap.hr_wrong .hr_rule_btn{display:none}
.hr_wrap.hr_l1_1 .hr_rule_btn,.hr_wrap.hr_l2_2 .hr_rule_btn,.hr_wrap.hr_l3_1 .hr_rule_btn,
.hr_wrap.hr_l4_1 .hr_rule_btn,.hr_wrap.hr_l4_2 .hr_rule_btn,.hr_wrap.hr_login .hr_rule_btn,
.hr_wrap.hr_risk .hr_rule_btn,.hr_wrap.hr_scan .hr_rule_btn{display:block}
.hr_wrap.hr_l1_1 .hr_rule_btn,.hr_wrap.hr_login .hr_rule_btn,.hr_wrap.hr_risk .hr_rule_btn{
  background:rgba(64,33,24,.63)}
.hr_sound{background-position:87.292% -3.0547%;background-size:232.74%;display:none;right:3.5%;
  padding-bottom:7.6768%;
  top:0;
  -webkit-transform:translateY(200%);
  transform:translateY(200%);
  width:7.6768%;z-index:20}
.hr_sound.hr_off{background-position:-.37669% -3.0547%}
.hr_pack{padding-bottom:29%}
.hr_pack.hr_l4{padding-bottom:12%}
.hr_pack .hr_content{background:#fad735;border:.375rem solid #c1ab5a;
  border-left-color:#f8e9aa;
  border-radius:.75rem;box-shadow:0 -.5rem 1rem #579747;margin:0 auto;
  padding-bottom:124%;position:relative;width:75.3%}
.hr_pack .hr_coupons{bottom:14.5%;left:0;overflow:auto;
  -webkit-overflow-scrolling:touch;position:absolute;right:0;top:20%}
.hr_pack .hr_coupons:after,.hr_pack .hr_coupons:before{
  content:'';float:left;padding-top:12%;width:100%}
.hr_pack .hr_coupons:after{padding-top:13.5%}
.hr_pack .hr_pack_f{background-position:-.59238% -22.052%;background-size:184.4%;
  bottom:0;left:-1%;padding-bottom:54.244%;pointer-events:none;
  -webkit-transform:translateY(14.6%);
  transform:translateY(14.6%);
  width:102%}
.hr_pack .hr_rope{background-position:76.907% -.50692%;background-size:1939.7%;bottom:0;left:45.246%;padding-bottom:27.465%;
  -webkit-transform:translateY(30%);
  transform:translateY(30%);width:9.5071%}
.hr_pack .hr_use_btn{background-position:66.167% -.73091%;
  background-size:569.25%;bottom:0;left:33.803%;padding-bottom:32.395%;
  -webkit-transform:translateY(105%);
  transform:translateY(105%);width:32.395%}
.hr_box{background-size:654.53%}
.hr_box.hr0{background-position:18.273% -27.344%}
.hr_box.hr1{background-position:36.636% -27.344%}
.hr_box.hr2{background-position:54.999% -27.344%}
.hr_box.hr3{background-position:73.362% -27.344%}
.hr_box.hr4{background-position:-.090166% -27.344%}
.hr_wrap.hr_show_in .hr_out_banner{display:none}
.hr_wrap.hr_show_in.hr_scan .hr_out_banner{display:block}
.hr_wrap.hr_show_in.hr_scan .hr_banner{display:none}
.hr_wrap.hr_show_in .hr_banner .hr_content{
  color:#155140;display:none;font-size:1rem;
  font-weight:700;left:0;line-height:1.375em;
  position:absolute;text-align:center;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);top:43%;width:100%}
.hr_wrap.hr_l2_2 .hr_banner .hr_content.hr0,.hr_wrap.hr_l3_1 .hr_banner .hr_content.hr1,
.hr_wrap.hr_l4_1 .hr_banner .hr_content.hr2,.hr_wrap.hr_l4_2 .hr_banner .hr_content.hr2{
  display:block}
@-webkit-keyframes banner0Show{
  0%{opacity:0;-webkit-transform:scale3d(3,3,1) translate3d(0,-50%,0)}
  60%{opacity:1;-webkit-transform:scale3d(.95,.95,1) translate3d(0,-50%,0)}
  80%{opacity:1;-webkit-transform:scale3d(1.025,1.025,1) translate3d(0,-50%,0)}}
@keyframes banner0Show{
  0%{opacity:0;transform:scale3d(3,3,1) translate3d(0,-50%,0)}
  60%{opacity:1;transform:scale3d(.95,.95,1) translate3d(0,-50%,0)}
  80%{opacity:1;transform:scale3d(1.025,1.025,1) translate3d(0,-50%,0)}}
.hr_wrap.hr_l2_2 .hr_banner .hr_content.hr0{
  -webkit-animation:banner0Show .3s .4s backwards;
  animation:banner0Show .3s .4s backwards;
  top:41%;
  -webkit-transform-origin:50% 200%;
  transform-origin:50% 200%}
.hr_wrap.hr_l2_2 .hr_banner .hr_title.hr0{
  background-position:91.49% 70.795%;background-size:664.02%;margin:0 auto;padding-bottom:8.8889%;
  position:static;width:46.465%}
.hr_l1{display:none;z-index:16}
.hr_wrap.hr_l1_1 .hr_l1,.hr_wrap.hr_l2_1 .hr_l1,.hr_wrap.hr_login .hr_l1,.hr_wrap.hr_risk .hr_l1{display:block}
.hr_wrap.hr_l2_1 .hr_l1{-webkit-animation:hide .3s;animation:hide .3s}
.hr_l1 .hr_box{background-position:50%;background-size:cover;bottom:2%;left:6%;top:8%;width:88%}
@-webkit-keyframes darkShow{
  0%{opacity:0;-webkit-transform:scale3d(2,2,1)}}
@keyframes darkShow{0%{opacity:0;transform:scale3d(2,2,1)}}
.hr_l1 .hr_dark{-webkit-animation:darkShow .6s .8s backwards;animation:darkShow .6s .8s backwards;
  background-position:50%;background-size:cover}
.hr_l1 .hr_money{background-position:-.67242% 95.406%;background-size:174.36%;left:22.929%;padding-bottom:9.0236%;
  top:50%;-webkit-transform:translateY(-370%);transform:translateY(-370%);width:54.141%}
.hr_wrap.hr_hide_money .hr_l1 .hr_money{display:none}
.hr_l1 .hr_money .hr_val{
  color:#c03a39;font-size:.9375rem;font-weight:700;height:0;left:35%;position:absolute;right:17%;
  text-align:center;top:47%}
.hr_l1 .hr_risk_tips{
  background-position:-.59546% 55.408%;background-size:183.97%;display:none;left:24.343%;
  padding-bottom:11.178%;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:51.313%}
.hr_wrap.hr_risk .hr_l1 .hr_risk_tips{display:block}
.hr_l1 .hr_mask{background-position:50%;background-size:cover;pointer-events:none}
@-webkit-keyframes btnDrop{
  0%{opacity:0;-webkit-transform:translate3d(0,95%,0)}
  40%{opacity:1;-webkit-transform:translate3d(0,251%,0)}
  55%{opacity:1;-webkit-transform:translate3d(0,241%,0)}
  70%{opacity:1;-webkit-transform:translate3d(0,249%,0)}
  85%{opacity:1;-webkit-transform:translate3d(0,243%,0)}
  to{opacity:1;-webkit-transform:translate3d(0,245%,0)}}
@keyframes btnDrop{
  0%{opacity:0;transform:translate3d(0,95%,0)}
  40%{opacity:1;transform:translate3d(0,251%,0)}
  55%{opacity:1;transform:translate3d(0,241%,0)}
  70%{opacity:1;transform:translate3d(0,249%,0)}
  85%{opacity:1;transform:translate3d(0,243%,0)}
  to{opacity:1;transform:translate3d(0,245%,0)}}
.hr_l1 .hr_btn{
  -webkit-animation:btnDrop .5s 1.3s backwards;
  animation:btnDrop .5s 1.3s backwards;
  background-position:-.81792% -.27649%;
  background-size:161.13%;
  display:none;left:20.707%;
  padding-bottom:13.199%;
  -webkit-transform:translateY(245%);
  transform:translateY(245%);
  top:50%;
  width:58.586%
}
.hr_wrap.hr_l1_1 .hr_l1 .hr_btn.hr0,.hr_wrap.hr_l2_1 .hr_l1 .hr_btn.hr0,.hr_wrap.hr_login .hr_l1 .hr_btn.hr1,
.hr_wrap.hr_risk .hr_l1 .hr_btn.hr2{display:block}
.hr_l1 .hr_btn .hr_btn_txt{
  background-size:245.08%;left:17.129%;padding-bottom:10.344%;top:27%;width:65.742%
}
.hr_l1 .hr_btn.hr0 .hr_btn_txt{background-position:97.959% 69.996%}
.hr_l1 .hr_btn.hr1 .hr_btn_txt{background-position:92.948% 46.345%}
.hr_l1 .hr_btn.hr2 .hr_btn_txt{background-position:97.959% 93.647%}
.hr_l2{display:none;z-index:15}
.hr_wrap.hr_l2_1 .hr_l2,.hr_wrap.hr_l2_2 .hr_l2{display:block}
.hr_wrap.hr_l2_2 .hr_l2{-webkit-animation:hide .3s;animation:hide .3s}
.hr_l2 .hr_map_con{background:#000;overflow:auto;-webkit-overflow-scrolling:touch}
.hr_l2 .hr_map{
  background-size:100% 100%;
  overflow:hidden;
  position:relative;
  display: block;
  height: 867px;
  width: 1082px;
}
@-webkit-keyframes balloonFloat0{to{-webkit-transform:translate3d(0,-5%,0)}}
@keyframes balloonFloat0{to{transform:translate3d(0,-5%,0)}}
@-webkit-keyframes balloonFloat1{to{-webkit-transform:translate3d(0,-15%,0)}}
@keyframes balloonFloat1{to{transform:translate3d(0,-15%,0)}}
@-webkit-keyframes balloonFloat2{0%{-webkit-transform:translate3d(0,-30%,0)}}
@keyframes balloonFloat2{0%{transform:translate3d(0,-30%,0)}}
@-webkit-keyframes balloonFloat3{0%{-webkit-transform:translate3d(0,-40%,0)}}
@keyframes balloonFloat3{0%{transform:translate3d(0,-40%,0)}}
@-webkit-keyframes balloonFloat4{to{-webkit-transform:translate3d(0,-40%,0)}}
@keyframes balloonFloat4{to{transform:translate3d(0,-40%,0)}}
.hr_l2 .hr_balloon0{-webkit-animation:balloonFloat0 2.5s infinite alternate ease-in-out;
  animation:balloonFloat0 2.5s infinite alternate ease-in-out;
  background-position:46.676% -.25514%;background-size:1607.8%;left:52%;
  padding-bottom:12.439%;pointer-events:none;top:14%;width:5.0918%}
.hr_l2 .hr_balloon1{-webkit-animation:balloonFloat2 3s infinite alternate ease-in-out;
  animation:balloonFloat2 3s infinite alternate ease-in-out;background-position:97.912% 73.637%;
  background-size:2592.2%;left:93%;padding-bottom:4.9629%;pointer-events:none;top:25%;width:3.1582%}
.hr_l2 .hr_balloon2{-webkit-animation:balloonFloat1 2.5s infinite alternate ease-in-out;
  animation:balloonFloat1 2.5s infinite alternate ease-in-out;background-position:98.474% 55.767%;
  background-size:2268.2%;left:95.5%;padding-bottom:5.2851%;pointer-events:none;top:33.5%;
  width:3.6094%}
.hr_l2 .hr_balloon3{-webkit-animation:balloonFloat3 4s infinite alternate ease-in-out;
  animation:balloonFloat3 4s infinite alternate ease-in-out;background-position:96.104% 90.517%;
  background-size:2189.9%;left:90.5%;padding-bottom:4.7695%;pointer-events:none;top:40%;width:3.7383%}
.hr_l2 .hr_balloon4{-webkit-animation:balloonFloat1 2s infinite alternate ease-in-out;
    animation:balloonFloat1 2s infinite alternate ease-in-out;background-position:43.683% 89.464%;
    background-size:3175.4%;left:13.5%;padding-bottom:4.3183%;pointer-events:none;top:81%;width:2.5781%}
.hr_l2 .hr_balloon5{-webkit-animation:balloonFloat3 2s infinite alternate ease-in-out;
  animation:balloonFloat3 2s infinite alternate ease-in-out;background-position:34.081% 74.787%;
  background-size:2822.6%;left:13.2%;padding-bottom:3.4805%;pointer-events:none;top:76.8%;width:2.9004%}
.hr_l2 .hr_balloon6{-webkit-animation:balloonFloat4 4s infinite alternate ease-in-out;
  animation:balloonFloat4 4s infinite alternate ease-in-out;background-position:58.512% 88.075%;background-size:2592.2%;
  left:7.8%;padding-bottom:3.8027%;pointer-events:none;top:79.2%;width:3.1582%}
@-webkit-keyframes cloudMove0{
  0%{-webkit-transform:translate3d(-30%,0,0)}}
@keyframes cloudMove0{0%{transform:translate3d(-30%,0,0)}}
.hr_l2 .hr_cloud0{-webkit-animation:cloudMove0 15s infinite alternate ease-in-out;
  animation:cloudMove0 15s infinite alternate ease-in-out;background-position:67.309% -.1862%;
  background-size:403.23%;left:66%;padding-bottom:9.9902%;pointer-events:none;top:90%;width:20.303%
}
@-webkit-keyframes cloudMove1{
  0%{-webkit-transform:translate3d(50%,0,0)}}
@keyframes cloudMove1{0%{transform:translate3d(50%,0,0)}}
.hr_l2 .hr_cloud1{-webkit-animation:cloudMove1 10s infinite alternate ease-in-out;
  animation:cloudMove1 10s infinite alternate ease-in-out;background-position:29.241% 56.752%;
  background-size:668.51%;left:33.3%;padding-bottom:7.9922%;pointer-events:none;top:86.5%;
  width:12.246%}
@-webkit-keyframes crabMove{
  0%{-webkit-transform:rotate(10deg)}to{-webkit-transform:rotate(-10deg)}}
@keyframes crabMove{0%{transform:rotate(10deg)}to{transform:rotate(-10deg)}}
.hr_l2 .hr_crab{-webkit-animation:crabMove 3s infinite alternate ease-in-out;
  animation:crabMove 3s infinite alternate ease-in-out;background-position:81.762% 69.921%;
  background-size:1198.3%;left:32%;padding-bottom:7.6699%;pointer-events:none;top:46%;
  -webkit-transform-origin:57% 9%;transform-origin:57% 9%;width:6.832%}
.hr_l2 .hr_fire{-webkit-animation:show 2s infinite alternate ease-in-out;
  animation:show 2s infinite alternate ease-in-out;background-position:35.993% 97.969%;
  background-size:1144.3%;left:58.5%;padding-bottom:7.1543%;pointer-events:none;top:45.5%;width:7.1543%}
@-webkit-keyframes iceAnim{
  0%{opacity:0;-webkit-transform:translateZ(0)}
  50%{opacity:1;-webkit-transform:translate3d(7%,5%,0)}
  to{opacity:0;-webkit-transform:translate3d(14%,10%,0)}}
@keyframes iceAnim{
  0%{opacity:0;transform:translateZ(0)}
  50%{opacity:1;transform:translate3d(7%,5%,0)}
  to{opacity:0;transform:translate3d(14%,10%,0)}}
.hr_l2 .hr_ice{
  -webkit-animation:iceAnim 3s infinite ease-in-out;
  animation:iceAnim 3s infinite ease-in-out;background-position:30.403% -.3809%;
  background-size:547.49%;left:42.5%;padding-bottom:15.92%;pointer-events:none;top:33%;
  width:14.953%}
.hr_l2 .hr_light0{
  -webkit-animation:show 2.5s infinite alternate ease-in-out;
  animation:show 2.5s infinite alternate ease-in-out;
  background-position:66.344% 38.511%;background-size:421.98%;left:2.3%;
  padding-bottom:9.6035%;pointer-events:none;top:45.2%;width:19.4%}
.hr_l2 .hr_light1{
  background-position:89.12% 97.093%;background-size:564.52%;left:73.5%;
  padding-bottom:7.3476%;pointer-events:none;top:-.3%;width:14.502%}
.hr_l2 .hr_light2{background-position:83.523% -.18455%;background-size:1114.2%;
  left:61%;padding-bottom:9.9258%;pointer-events:none;top:21.5%;width:7.3476%}
@-webkit-keyframes lightFlash{0%,67%,to{opacity:0}33%{opacity:1}}
@keyframes lightFlash{0%,50%,to{opacity:0}25%{opacity:1}}
.hr_l2 .hr_light3{
  -webkit-animation:lightFlash 3s infinite step-end;
  animation:lightFlash 3s infinite step-end;
  background-position:99.202% 33.221%;
  background-size:1568.1%;left:67%;padding-bottom:7.1543%;
  pointer-events:none;top:13%;width:5.2207%
}
.hr_l2 .hr_light4{
  -webkit-animation:lightFlash 3s 1s backwards infinite step-end;
  animation:lightFlash 3s 1s backwards infinite step-end;background-position:99.217% -.16697%;
  background-size:7056.5%;left:79.5%;padding-bottom:9.2168%;pointer-events:none;top:15%;width:1.1602%
}
.hr_l2 .hr_light5{
  -webkit-animation:lightFlash 3s 2s backwards infinite step-end;
  animation:lightFlash 3s 2s backwards infinite step-end;
  background-position:46.483% 42.364%;background-size:1716.4%;
  left:83.5%;padding-bottom:6.3164%;pointer-events:none;top:13.2%;
  width:4.7695%}
.hr_l2 .hr_snow{
  background-position:66.201% 87.061%;background-size:1233.2%;
  left:58.5%;padding-bottom:3.416%;pointer-events:none;top:38%;
  width:6.6387%
}
.hr_l2 .hr_snowman{
  background-position:50.946% 89.464%;
  background-size:1067.4%;left:91%;padding-bottom:4.3183%;pointer-events:none;top:53.5%;width:7.6699%}
@-webkit-keyframes uavFloat{
  0%{-webkit-transform:translate3d(0,5%,0)}
  to{-webkit-transform:translate3d(0,-10%,0)}
}
@keyframes uavFloat{
  0%{transform:translate3d(0,5%,0)}
  to{transform:translate3d(0,-10%,0)}
}
.hr_l2 .hr_uav{-webkit-animation:uavFloat 3s infinite alternate ease-in-out;
  animation:uavFloat 3s infinite alternate ease-in-out;
  background-position:90.701% 38.01%;
  background-size:616.59%;left:14.5%;
  padding-bottom:9.4101%;
  pointer-events:none;top:2%;
  width:13.277%
}
.hr_l2 .hr_water{
  background-position:67.23% 96.865%;background-size:1049.7%;left:9.2%;
  padding-bottom:2.6426%;pointer-events:none;top:93%;width:7.7988%
  }
.hr_l2 .hr_map_box{
  background-position:92.736% 69.012%;
  background-size:1058.5%;
  -webkit-transform:translateZ(0);
  transform:translateZ(0)}
.hr_l2 .hr_map_box.hr_hide{
  -webkit-animation:hide .3s;
  animation:hide .3s;
  display: none;
}
.hr_l2 .hr_map_box[data-id='0']{
  left:35.2%;padding-bottom:4.23%;top:17.2%;width:4.5%}
.hr_l2 .hr_map_box[data-id='1']{
  left:4.5%;padding-bottom:5.65%;top:23.5%;width:6%}
.hr_l2 .hr_map_box[data-id='2']{
  left:73.2%;padding-bottom:4.23%;top:19.7%;width:4.5%}
.hr_l2 .hr_map_box[data-id='3']{
  left:58.8%;padding-bottom:5.65%;top:33.5%;width:6%}
.hr_l2 .hr_map_box[data-id='4']{
  left:89.5%;padding-bottom:6.6%;top:49%;width:7%}
.hr_l2 .hr_map_box[data-id='5']{
  left:34.6%;padding-bottom:5.18%;top:73%;width:5.5%}
.hr_l2 .hr_map_box[data-id='6']{
  left:10.5%;padding-bottom:5.65%;top:87.5%;
  -webkit-transform:translateZ(0) rotate(30deg);
  transform:translateZ(0) rotate(30deg);width:6%}
.hr_l2 .hr_map_box[data-id='7']{
  left:87.5%;padding-bottom:4.71%;top:89.5%;width:5%}
.hr_l2 .hr_tips{
  -webkit-animation:show .3s;animation:show .3s;
  position:absolute
}
.hr_l2 .hr_tips.hr_hide{
  -webkit-animation:hide .3s;animation:hide .3s
}
.hr_l2 .hr_tips .overlay{-webkit-animation:none;animation:none;opacity:.69}
.hr_l2 .hr_tips .hr_icon{
  background-position:-.16143% -1.0174%;background-size:409.73%;
  padding-bottom:20.648%;width:16.713%
}
@-webkit-keyframes boxCountShow{
  0%{-webkit-transform:translate3d(100%,25%,0)}
  60%{-webkit-transform:translate3d(-5%,25%,0)}}
@keyframes boxCountShow{
  0%{transform:translate3d(100%,25%,0)}
  60%{transform:translate3d(-5%,25%,0)}}
.hr_l2 .hr_box_count{
  -webkit-animation:boxCountShow .4s;
  animation:boxCountShow .4s;
  background:rgba(64,33,24,.88);
  border-radius:9rem 0 0 9rem;
  display:none;
  height:2.25rem;
  overflow:hidden;
  pointer-events:none;
  position:absolute;
  right:-2.5%;
  top:0;
  -webkit-transform:translateY(25%);
  transform:translateY(25%);
  width:24%
}
.hr_l2 .hr_box_count.hr_show{display:block}
.hr_l2 .hr_box_count .hr_icon{
  background-position:96.721% -.1701%;
  background-size:875.98%;
  left:-13%;
  padding-bottom:77.926%;
  top:50%;
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);
  width:77.926%
}
.hr_l2 .hr_box_count .hr_txt{height:100%;margin-left:48%}
.hr_l2 .hr_box_count .hr_times_sign{
  display:block;height:1rem;position:relative;-webkit-transform:rotate(45deg);
  transform:rotate(45deg);width:1rem}
.hr_l2 .hr_box_count .hr_times_sign:after,.hr_l2 .hr_box_count .hr_times_sign:before{
  background:#ffd83c;content:'';left:50%;position:absolute;top:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%)}
.hr_l2 .hr_box_count .hr_times_sign:before{
  height:3px;width:100%
}
.hr_l2 .hr_box_count .hr_times_sign:after{height:100%;width:3px}
.hr_l2 .hr_box_count .hr_val{
  color:#ffd83c;display:block;font-size:1.5rem;font-weight:700;margin-left:.125rem
}
.hr_l2 .hr_popup.hide{pointer-events:none}.hr_l2 .hr_popup .overlay{opacity:.69}
.hr_l2 .hr_popup.hr_hide .overlay{-webkit-animation:hide .4s;animation:hide .4s}
.hr_l2 .hr_popup .hr_content{
  -webkit-animation:popupDrop .6s .1s backwards;animation:popupDrop .6s .1s backwards;
  background-size:100% 100%;left:12.25%;padding-bottom:82.7%;top:48%;
  -webkit-transform:translateY(-50%);transform:translateY(-50%);width:75.5%
}
@-webkit-keyframes popupHide{
  0%{opacity:1;-webkit-transform:translate3d(0,-50%,0)}
  35%{opacity:1;-webkit-transform:translate3d(0,-60%,0)}
  to{opacity:0;-webkit-transform:translate3d(0,50%,0)}}
@keyframes popupHide{
  0%{opacity:1;transform:translate3d(0,-50%,0)}
  35%{opacity:1;transform:translate3d(0,-60%,0)}
  to{opacity:0;transform:translate3d(0,50%,0)}}
.hr_l2 .hr_popup.hr_hide .hr_content{
  -webkit-animation:popupHide .4s;animation:popupHide .4s}
.hr_l2 .hr_popup .hr_title{
  color:#431157;
  font-size:1.125rem;
  font-weight:700;
  left:16.5%;
  position:absolute;
  text-align:center;
  top:23.5%;width:71%
}
.hr_l2 .hr_popup .hr_coupon{
  bottom:49.5%;color:#ff7612;
  left:19.5%;position:absolute;right:20%;top:32%
}
.hr_l2 .hr_popup .hr_coupon .hr_val_wrap{
  display:block;font-size:0;font-weight:700
}
.hr_l2 .hr_popup .hr_coupon .hr_unit{
  font-family:PingFang-Medium,PingFangSC-Regular,
  sans-serif;font-size:1rem;vertical-align:.9375rem
}
.hr_l2 .hr_popup .hr_coupon .hr_val{
  font-size:2.375rem;letter-spacing:-.125rem
}
.hr_l2 .hr_popup .hr_coupon .hr_tips_wrap{
  display:block;margin-left:.375rem
}
.hr_l2 .hr_popup .hr_coupon .hr_cate{
  background:#ff7612;border-radius:.25rem;color:#ffe344;
  display:inline-block;font-size:.625rem;padding:3px .375rem
}
.hr_l2 .hr_popup .hr_coupon .hr_cond{
  display:block;font-size:.625rem;margin-top:.25rem
}
.hr_l2 .hr_popup .hr_subtitle{
  padding-bottom:21.774%;top:52%;width:73.533%
}
.hr_l2 .hr_popup.hr0 .hr_subtitle{
  background-position:59.748% 71.266%;background-size:308.29%;left:16%
}
.hr_l2 .hr_popup.hr1 .hr_subtitle{
  background-position:-.24005% 86.472%;background-size:308.29%;left:14%
}
.hr_l2 .hr_popup .hr_btn{
  background-position:-.81792% -.27649%;background-size:161.13%;
  left:17.778%;padding-bottom:14.518%;top:73.5%;width:64.444%
}
.hr_l2 .hr_popup .hr_btn_txt{top:48%}
.hr_l2 .hr_popup.hr0 .hr_btn_txt{
  background-position:16.872% 97.074%;background-size:824.79%;padding-bottom:9.9786%;width:42.686%
}
.hr_l2 .hr_popup.hr1 .hr_btn_txt{
  background-position:-.083091% 97.436%;background-size:701.75%;padding-bottom:11.974%;
  width:51.223%
}
.hr_l2 .hr_big_box_wrap.hr_hide{
  -webkit-animation:hide .3s;animation:hide .3s
}
.hr_l2 .hr_big_box_wrap .hr_big_light{
  -webkit-animation:show .5s;animation:show .5s;background-size:100% 100%;padding-bottom:130%;width:100%
}
.hr_l2 .hr_big_box_wrap .hr_big_light.hr_hide{
  -webkit-animation:hide .3s forwards;animation:hide .3s forwards
}
@-webkit-keyframes bigBoxShow{
  0%{opacity:0;-webkit-transform:translate3d(-50%,-50%,0) scale3d(.3,.3,1)}
  40%{opacity:1;-webkit-transform:translate3d(-50%,-50%,0) scale3d(1.09,1.09,1)}
  60%{opacity:1;-webkit-transform:translate3d(-50%,-50%,0) scale3d(.94,.94,1)}
  80%{opacity:1;-webkit-transform:translate3d(-50%,-50%,0) scale3d(1.03,1.03,1)}
  to{opacity:1;-webkit-transform:translate3d(-50%,-50%,0) scaleX(1)}
}
@keyframes bigBoxShow{
  0%{opacity:0;transform:translate3d(-50%,-50%,0) scale3d(.3,.3,1)}
  40%{opacity:1;transform:translate3d(-50%,-50%,0) scale3d(1.09,1.09,1)}
  60%{opacity:1;transform:translate3d(-50%,-50%,0) scale3d(.94,.94,1)}
  80%{opacity:1;transform:translate3d(-50%,-50%,0) scale3d(1.03,1.03,1)}
  to{opacity:1;transform:translate3d(-50%,-50%,0) scaleX(1)}
}
.hr_l2 .hr_big_box_wrap .hr_big_box{
  -webkit-animation:bigBoxShow .5s;
  animation:bigBoxShow .5s;
  padding-bottom:50%;
  width:50%
}
.hr_l3{display:none}
.hr_wrap.hr_l2_2 .hr_l3,.hr_wrap.hr_l3_1 .hr_l3,.hr_wrap.hr_l4_1 .hr_l3{display:block}
.hr_wrap.hr_l4_1 .hr_l3{
  -webkit-animation:hide .5s .3s backwards;
  animation:hide .5s .3s backwards;
  position:absolute;
  width:100%;
  z-index:1
}
.hr_l3 .hr_scene{
  -webkit-perspective:750px;
  perspective:750px;
  padding-bottom:100%;
  -webkit-transform:translateY(-8%);
  transform:translateY(-8%);
  width:100%
}
@media(max-width:320px) and (max-height:440px){
  .hr_l3 .hr_scene{margin:0 auto;padding-bottom:95%;width:95%}}
  @-webkit-keyframes boxesRotate{
    0%{-webkit-transform:rotateX(-30deg) rotateY(-180deg)}
    to{-webkit-transform:rotateX(-30deg) rotateY(179deg)}}
  @keyframes boxesRotate{
    0%{transform:rotateX(-30deg) rotateY(-180deg)}
    to{transform:rotateX(-30deg) rotateY(179deg)}}
  .hr_l3 .hr_boxes{
    -webkit-animation:boxesRotate 15s forwards linear infinite;
    animation:boxesRotate 15s forwards linear infinite;
    -webkit-transform:rotateX(-30deg);
    transform:rotateX(-30deg);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d}
  .hr_l3 .hr_circle{
    background-size:100% 100%;
    left:10.4%;padding-bottom:79.2%;top:50%;-webkit-transform:rotateX(90deg);
    transform:rotateX(90deg);width:79.2%}
  @-webkit-keyframes boxRotate0{
    0%{-webkit-transform:rotateY(18deg) translate3d(8.5em,0,0) rotateY(-18deg) rotateY(180deg) rotateX(20deg)}
    to{-webkit-transform:rotateY(18deg) translate3d(8.5em,0,0) rotateY(-18deg) rotateY(-179deg) rotateX(20deg)}}
  @keyframes boxRotate0{
    0%{transform:rotateY(18deg) translate3d(8.5em,0,0) rotateY(-18deg) rotateY(180deg) rotateX(20deg)}
    to{transform:rotateY(18deg) translate3d(8.5em,0,0) rotateY(-18deg) rotateY(-179deg) rotateX(20deg)}}
  .hr_l3 .hr_box{
    -webkit-animation:boxRotate0 15s forwards linear infinite;
    animation:boxRotate0 15s forwards linear infinite;
    left:36%;padding-bottom:30%;
    top:61%;width:30%;font-size:19px}
  @media (max-width:457px){
    .hr_l3 .hr_box{font-size:18px}}
  @media (max-width:437px){
    .hr_l3 .hr_box{font-size:17px}}
  @media (max-width:417px){
    .hr_l3 .hr_box{font-size:16px}}
  @media (max-width:397px){
    .hr_l3 .hr_box{font-size:15px}}
  @media (max-width:377px){
    .hr_l3 .hr_box{font-size:14px}}
  @media (max-width:357px){
    .hr_l3 .hr_box{font-size:13px}}
  @media (max-width:337px){
    .hr_l3 .hr_box{font-size:12px}}
  @-webkit-keyframes boxRotate1{
    0%{-webkit-transform:rotateY(90deg) translate3d(8.5em,0,0) rotateY(-90deg) rotateY(180deg) rotateX(20deg)}
    to{-webkit-transform:rotateY(90deg) translate3d(8.5em,0,0) rotateY(-90deg) rotateY(-179deg) rotateX(20deg)}}
  @keyframes boxRotate1{
    0%{transform:rotateY(90deg) translate3d(8.5em,0,0) rotateY(-90deg) rotateY(180deg) rotateX(20deg)}
    to{transform:rotateY(90deg) translate3d(8.5em,0,0) rotateY(-90deg) rotateY(-179deg) rotateX(20deg)}}
  .hr_l3 .hr_box.hr1{-webkit-animation-name:boxRotate1;animation-name:boxRotate1}
  @-webkit-keyframes boxRotate2{
    0%{-webkit-transform:rotateY(162deg) translate3d(8.5em,0,0) rotateY(-162deg) rotateY(180deg) rotateX(20deg)}
    to{-webkit-transform:rotateY(162deg) translate3d(8.5em,0,0) rotateY(-162deg) rotateY(-179deg) rotateX(20deg)}}
  @keyframes boxRotate2{
    0%{transform:rotateY(162deg) translate3d(8.5em,0,0) rotateY(-162deg) rotateY(180deg) rotateX(20deg)}
    to{transform:rotateY(162deg) translate3d(8.5em,0,0) rotateY(-162deg) rotateY(-179deg) rotateX(20deg)}}
  .hr_l3 .hr_box.hr2{-webkit-animation-name:boxRotate2;animation-name:boxRotate2}
  @-webkit-keyframes boxRotate3{
    0%{-webkit-transform:rotateY(234deg) translate3d(8.5em,0,0) rotateY(-234deg) rotateY(180deg) rotateX(20deg)}
    to{-webkit-transform:rotateY(234deg) translate3d(8.5em,0,0) rotateY(-234deg) rotateY(-179deg) rotateX(20deg)}}
  @keyframes boxRotate3{
    0%{transform:rotateY(234deg) translate3d(8.5em,0,0) rotateY(-234deg) rotateY(180deg) rotateX(20deg)}
    to{transform:rotateY(234deg) translate3d(8.5em,0,0) rotateY(-234deg) rotateY(-179deg) rotateX(20deg)}}
  .hr_l3 .hr_box.hr3{-webkit-animation-name:boxRotate3;animation-name:boxRotate3}
  @-webkit-keyframes boxRotate4{
    0%{-webkit-transform:rotateY(306deg) translate3d(8.5em,0,0) rotateY(-306deg) rotateY(180deg) rotateX(20deg)}
    to{-webkit-transform:rotateY(306deg) translate3d(8.5em,0,0) rotateY(-306deg) rotateY(-179deg) rotateX(20deg)}}
  @keyframes boxRotate4{
    0%{transform:rotateY(306deg) translate3d(8.5em,0,0) rotateY(-306deg) rotateY(180deg) rotateX(20deg)}
    to{transform:rotateY(306deg) translate3d(8.5em,0,0) rotateY(-306deg) rotateY(-179deg) rotateX(20deg)}}
  .hr_l3 .hr_box.hr4{-webkit-animation-name:boxRotate4;animation-name:boxRotate4}
  .hr_l3 .hr_btn_wrap{padding-top:15%}
  @media(max-width:320px) and (max-height:440px){
    .hr_l3 .hr_btn_wrap{padding-top:9%}
  }
  .hr_l4_1 .hr_l3 .hr_btn_wrap{
    display: none;
  }
  .hr_l3 .hr_btn{
      background-position:99.587% -.17912%;background-size:454.54%;display:block;margin:.1875rem auto 0;
      padding-bottom:12.66%;position:relative!important;width:67.879%}
  .hr_l3 .hr_btn .hr_btn_txt{
      background-position:99.587% 39.059%;background-size:454.54%;left:.019599%;padding-bottom:18.643%;top:0;
      width:99.961%}
  .hr_l4{display:none}
  .hr_wrap.hr_l4_1 .hr_l4,.hr_wrap.hr_l4_2 .hr_l4{
      display:block}
  @-webkit-keyframes couponsShow{
      0%{opacity:0;-webkit-transform:translate3d(0,-100%,0)}
      40%{opacity:1;-webkit-transform:translate3d(0,2%,0)}
      55%{opacity:1;-webkit-transform:translate3d(0,-1.5%,0)}
      70%{opacity:1;-webkit-transform:translate3d(0,1%,0)}
      85%{opacity:1;-webkit-transform:translate3d(0,-.5%,0)}
      to{opacity:1;-webkit-transform:translateZ(0)}}
  @keyframes couponsShow{
      0%{opacity:0;transform:translate3d(0,-100%,0)}
      40%{opacity:1;transform:translate3d(0,2%,0)}
      55%{opacity:1;transform:translate3d(0,-1.5%,0)}
      70%{opacity:1;transform:translate3d(0,1%,0)}
      85%{opacity:1;transform:translate3d(0,-.5%,0)}
      to{opacity:1;transform:translateZ(0)}}
  .hr_wrap.hr_l4_1 .hr_l4 .hr_content{
      -webkit-animation:couponsShow .5s .6s backwards;
      animation:couponsShow .5s .6s backwards}
  .hr_l4 .hr_coupons:after,.hr_l4 .hr_coupons:before{display:block;float:none}
  .hr_l4 .hr_coupon{
    background:#fffaae;
    color:#ff7612;
    margin:0 auto;
    padding-bottom:27%;
    position:relative;
    width:78%}
  .hr_l4 .hr_coupon .hr_border{
      border:1px solid #ff7612;border-radius:.3125rem;bottom:15%;
      left:7.5%;position:absolute;right:7.5%;top:13%}
  .hr_l4 .hr_coupon .hr_val_wrap{
      font-size:0;
      font-weight:700;
      left:0;
      position:absolute;
      text-align:right;
      top:50%;
      -webkit-transform:translateY(-50%);
      transform:translateY(-50%);
      width:46%
    }
    .hr_l4 .hr_coupon .hr_unit{
      font-family:PingFang-Medium,PingFangSC-Regular,sans-serif;
      font-size:1rem;
      vertical-align:1.125rem
    }
    .hr_l4 .hr_coupon .hr_val{
      font-size:2.75rem;letter-spacing:-.125rem}
    .hr_l4 .hr_coupon .hr_tips_wrap{
      position:absolute;
      right:0;
      top:50%;
      -webkit-transform:translateY(-50%);
      transform:translateY(-50%);
      width:51%
    }
    .hr_l4 .hr_coupon .hr_cate{
      background:#ff862d;
      border-radius:.25rem;
      color:#ffe243;
      display:inline-block;
      font-size:.6875rem;
      padding:.1875rem .375rem
    }
    .hr_l4 .hr_coupon .hr_cond{
      color:#ff862d;
      display:block;
      font-size:.6875rem;
      margin-top:.1875rem
    }
    .hr_l4 .hr_coupon .hr_draw_tips{
      background:#ff7612;
      border-radius:0 .25rem .25rem 0;
      color:#fff;
      font-size:.6875rem;
      height:100%;
      position:absolute;
      right:0;
      text-align:center;
      top:0;
      width:13.2%
    }
    .hr_l4 .hr_coupon .hr_draw_tips .hr_txt{
      display:block;
      line-height:1.125em;
      width:1em
    }
    .hr_l4 .hr_coupon .hr_drawn_mask{
      -webkit-animation:show .2s;
      animation:show .2s;
      background:rgba(81,81,81,.66);
      display:none;
      position:absolute;
      width: 100%;
      height: 100%;
    }
    .hr_l4 .hr_coupon.hr_drawn .hr_drawn_mask{
      display:block
    }
    @-webkit-keyframes couponDrawnTxtShow{
      0%{-webkit-transform:scale3d(3,3,1)}
      60%{-webkit-transform:scale3d(.8,.8,1)}
      80%{-webkit-transform:scale3d(1.1,1.1,1)}}
    @keyframes couponDrawnTxtShow{
      0%{transform:scale3d(3,3,1)}
      60%{transform:scale3d(.8,.8,1)}
      80%{transform:scale3d(1.1,1.1,1)}}
    .hr_l4 .hr_coupon .hr_drawn_mask .hr_txt{
      -webkit-animation:couponDrawnTxtShow .3s;
      animation:couponDrawnTxtShow .3s;
      background-position:98.152% -.7509%;
      background-size:386.16%;left:32%;
      padding-bottom:21.859%;
      top:17%;
      width:35.942%
    }
    .hr_l4 .hr_coupon .hr_mask{background-position:3% 0;background-size:144%}
    .hr_l4 .hr_rope{display:none}
    .hr_l4 .hr_use_btn{-webkit-transform:translateY(30%);transform:translateY(30%)}
    .hr_wrap.hr_show_in .hr_out{display:none}
    .hr_wrap.hr_show_in.hr_scan .hr_out,.hr_wrap.hr_show_in.hr_scan .hr_waterlemon{display:block}
    .hr_prize_btn_wrap{display:none;font-weight:700;padding-bottom:1rem;position:relative;text-align:center;
      -webkit-transform:translateZ(0);transform:translateZ(0)}
    .hr_wrap.hr_l2_2 .hr_prize_btn_wrap,.hr_wrap.hr_l3_1 .hr_prize_btn_wrap{
      bottom:0;display:block;left:0;padding-bottom:0;position:fixed;width:100%}
    .hr_wrap.hr_l4_1 .hr_prize_btn_wrap,.hr_wrap.hr_l4_2 .hr_prize_btn_wrap{display:block}
    .hr_prize_btn_wrap a{text-decoration:underline}
    .hr_prize_btn{display:inline-block;padding:1rem}
    .hr_out_banner{background-size:100% 100%;left:0;padding-bottom:61.4%;pointer-events:none;top:0;width:100%;z-index:10}
    .hr_out{padding-top:53%;position:relative}
    .hr_out .hr_con{
      color:#24745d;display:none;text-align:center;text-shadow:0 1px 0 rgba(81,122,81,.2)}
    .hr_wrap.hr_error .hr_out .hr_con.hr8,.hr_wrap.hr_exhaust .hr_out .hr_con.hr3,.hr_wrap.hr_friend_exhaust .hr_out .hr_con.hr4,
    .hr_wrap.hr_helped .hr_out .hr_con.hr5,.hr_wrap.hr_myself .hr_out .hr_con.hr9,.hr_wrap.hr_new .hr_out .hr_con.hr1,
    .hr_wrap.hr_risk .hr_out .hr_con.hr6,.hr_wrap.hr_suc .hr_out .hr_con.hr2,.hr_wrap.hr_unhelped .hr_out .hr_con.hr0,
    .hr_wrap.hr_wrong .hr_out .hr_con.hr7{display:block}
    .hr_out .hr_waterlemon{
      background-size:100% 100%;display:none;left:25%;padding-bottom:64%;top:0;-webkit-transform:translateY(67%);
      transform:translateY(67%);width:79.1%}
    .hr_wrap.hr_exhaust .hr_out .hr_waterlemon,.hr_wrap.hr_friend_exhaust .hr_out .hr_waterlemon,
    .hr_wrap.hr_helped .hr_out .hr_waterlemon,.hr_wrap.hr_risk .hr_out .hr_waterlemon{display:block}
    .hr_wrap.hr_error .hr_out .hr_waterlemon,.hr_wrap.hr_myself .hr_out .hr_waterlemon,
    .hr_wrap.hr_wrong .hr_out .hr_waterlemon{
      display:block;-webkit-transform:translateY(70%);transform:translateY(70%)}
    .hr_out .hr_con .hr_title{font-size:1rem;font-weight:700;line-height:1.5rem}
    .hr_out .hr_con.hr0{padding-bottom:30%}.hr_out .hr_con.hr0 .hr_title{font-size:1.125rem}
    .hr_out .hr_con.hr0 .hr_key{
      background-position:-.11185% -5.2558%;background-size:547.02%;margin:2rem auto 0;
      padding-bottom:30.438%;position:relative;width:50.236%
    }
    .hr_out .hr_con.hr0 .hr_star{
      -webkit-animation:outStarFlash 2s infinite backwards ease-in-out;
      animation:outStarFlash 2s infinite backwards ease-in-out;
      background-position:90.972% -.074246%;background-size:8501.6%
    }
    .hr_out .hr_con.hr0 .hr_key .hr_star:nth-child(1){
      left:48%;padding-bottom:8.5889%;top:0;width:6.4417%}
    .hr_out .hr_con.hr0 .hr_key .hr_star:nth-child(2){
      left:56%;padding-bottom:6.8711%;top:-6%;width:5.1533%}
    .hr_out .hr_con.hr0 .hr_key .hr_star:nth-child(3){
      left:47%;padding-bottom:5.4968%;top:-15%;width:4.1226%}
    .hr_out .hr_con.hr0 .hr_tips{
      font-size:.875rem;margin-top:.875rem}
    .hr_out .hr_con.hr1{padding-bottom:44.5%}
    .hr_out .hr_con.hr1 .hr_title{font-size:1.25rem;line-height:1.75rem}
    .hr_out .hr_con.hr1 .hr_title b{font-size:1.125rem;display:block}
    .hr_out .hr_con.hr1 .hr_tips{color:#24745d;font-size:.75rem;margin-top:.75rem}
    .hr_out .hr_con.hr1 .hr_input_wrap{
      background:#fffcc8;border-radius:.25rem;margin:1.25rem 20% 0;position:relative;text-align:left}
    .hr_out .hr_con.hr1 .hr_input{
      background:transparent;border:none;border-radius:0;box-sizing:border-box;color:#444;
      font-size:.875rem;font-weight:700;height:2.5rem;padding:0 .75rem;width:82%}
    .hr_out .hr_con.hr1 .hr_input::-webkit-input-placeholder{color:#c7ea8b}.hr_out .hr_con.hr1 .hr_clear_btn{
      border:2px solid #a3c58c;border-radius:100%;box-sizing:border-box;height:1.5rem;
      margin-top:-.75rem;position:absolute;right:.6875rem;top:50%;width:1.5rem
    }
    .hr_out .hr_con.hr1 .hr_clear_btn:after,.hr_out .hr_con.hr1 .hr_clear_btn:before{
      background:#a3c58c;content:'';
      height:.9375rem;
      left:50%;
      position:absolute;top:50%;width:2px
    }
    .hr_out .hr_con.hr1 .hr_clear_btn:before{
      -webkit-transform:translate(-50%,-50%) rotate(45deg);
      transform:translate(-50%,-50%) rotate(45deg)
    }
    .hr_out .hr_con.hr1 .hr_clear_btn:after{
      -webkit-transform:translate(-50%,-50%) rotate(-45deg);
      transform:translate(-50%,-50%) rotate(-45deg)
    }
    .hr_out .hr_con.hr2{
      padding-bottom:40%
    }
    .hr_out .hr_con.hr2 .hr_title{
      font-size:.9375rem;line-height:1.375rem}
    .hr_out .hr_con.hr2 .hr_coupon{
      background-position:24.283% -2%;
      background-size:417.26%;border-radius:.625rem;color:#ff7612;margin:.5rem auto 0;
      overflow:hidden;padding-bottom:26.667%;position:relative;width:65.859%
    }
    .hr_out .hr_con.hr2 .hr_coupon .hr_val_wrap{
      display:block;font-size:0;font-weight:700}
    .hr_out .hr_con.hr2 .hr_coupon .hr_unit{
      font-family:PingFang-Medium,PingFangSC-Regular,sans-serif;font-size:1.4375rem;vertical-align:2.125rem}
    .hr_out .hr_con.hr2 .hr_coupon .hr_val{font-size:4.5rem;letter-spacing:-.1875rem}
    .hr_out .hr_con.hr2 .hr_coupon .hr_tips_wrap{display:block;margin-left:.375rem;text-align:left}
    .hr_out .hr_con.hr2 .hr_coupon .hr_cate{
      background:#ff7612;border-radius:.25rem;color:#ffe344;display:inline-block;font-size:.625rem;padding:3px .5rem}
    .hr_out .hr_con.hr2 .hr_coupon .hr_cond{display:block;font-size:.625rem;margin-top:.375rem}
    .hr_out .hr_con.hr2 .hr_tips{color:#24745d;font-size:.8125rem;margin-top:.75rem}
    .hr_out .hr_con.hr2 .hr_modify_btn{margin-left:.5em;text-decoration:underline}
    .hr_out .hr_con.hr3{padding:9% 0 73%}
    .hr_out .hr_con.hr4{padding:5% 0 71%}
    .hr_out .hr_con.hr5{padding:9% 0 73%}
    .hr_out .hr_con.hr6{padding:5% 0 71%}
    .hr_out .hr_con.hr7,.hr_out .hr_con.hr8,.hr_out .hr_con.hr9{padding:5% 0 0}
    .hr_out .hr_bubble{
      background-position:46.664% -1.2069%;background-size:1193.2%;display:none;left:26%;padding-bottom:23.569%;
      top:0;-webkit-transform:translateY(215%);transform:translateY(215%);width:23.03%}
    .hr_wrap.hr_scan .hr_out .hr_bubble{display:block}
    .hr_out .hr_btn{
      background-position:66.194% -.30619%;background-size:449.43%;display:none;left:19.428%;padding-bottom:12.66%;top:0;
      -webkit-transform:translateY(890%);transform:translateY(890%);width:61.145%}
    .hr_wrap.hr_exhaust.hr_complete .hr_out .hr_btn.hr1,.hr_wrap.hr_exhaust .hr_out .hr_btn.hr2,
    .hr_wrap.hr_friend_exhaust.hr_complete .hr_out .hr_btn.hr1,.hr_wrap.hr_friend_exhaust .hr_out .hr_btn.hr2,
    .hr_wrap.hr_helped.hr_complete .hr_out .hr_btn.hr1,.hr_wrap.hr_helped .hr_out .hr_btn.hr2,
    .hr_wrap.hr_myself .hr_out .hr_btn.hr5,.hr_wrap.hr_new .hr_out .hr_btn.hr0,.hr_wrap.hr_risk .hr_out .hr_btn.hr3,
    .hr_wrap.hr_scan .hr_out .hr_btn.hr6,.hr_wrap.hr_suc.hr_complete .hr_out .hr_btn.hr1,.hr_wrap.hr_suc .hr_out .hr_btn.hr4,
    .hr_wrap.hr_unhelped .hr_out .hr_btn.hr0{display:block}
    .hr_wrap.hr_exhaust.hr_complete .hr_out .hr_btn.hr2,.hr_wrap.hr_friend_exhaust.hr_complete .hr_out .hr_btn.hr2,
    .hr_wrap.hr_helped.hr_complete .hr_out .hr_btn.hr2,.hr_wrap.hr_suc.hr_complete .hr_out .hr_btn.hr4{display:none}
    .hr_out .hr_btn .hr_btn_txt{
      background-size:645.69%;left:15.183%;padding-bottom:8.3738%;
      top:29.717%;width:69.634%
    }
    .hr_out .hr_btn.hr0 .hr_btn_txt{background-position:50.545% 95.365%}
    .hr_out .hr_btn.hr1 .hr_btn_txt{background-position:99.518% 90.64%}
    .hr_out .hr_btn.hr2 .hr_btn_txt{background-position:87.576% 22.592%}
    .hr_out .hr_btn.hr3 .hr_btn_txt{background-position:87.576% -.090692%}
    .hr_out .hr_btn.hr4 .hr_btn_txt{background-position:69.262% 95.365%}
    .hr_out .hr_btn.hr5 .hr_btn_txt{background-position:99.518% 45.274%}
    .hr_out .hr_btn.hr6 .hr_btn_txt{background-position:99.518% 67.957%}
    .hr_wrap.hr_show_prize .hr_banner_txt{
      background-position:84.445% 87.147%;background-size:281.56%;left:24.949%;padding-bottom:12.121%;
      top:31%;width:50.101%
    }
    .hr_prize .hr_coupons>li{float:left;padding:1% 0;width:50%}
    .hr_prize .hr_coupon{
      background-position:98.942% -.32469%;background-size:494.07%;
      color:#ff7612;font-weight:700;padding-bottom:49%;position:relative!important;width:85%}
    .hr_prize .hr_coupons>li:nth-child(odd) .hr_coupon{
      margin-left:14%}
    .hr_prize .hr_coupons>li:nth-child(even) .hr_coupon{margin-left:1%}
    .hr_prize .hr_coupon .hr_val_wrap{
      height:100%;left:0;position:absolute;top:-2.5%;width:100%}
    .hr_prize .hr_coupon .hr_unit{
      display:block;font-family:PingFang-Medium,PingFangSC-Regular,sans-serif;font-size:1rem;margin-top:-.6875rem}
    .hr_prize .hr_coupon .hr_val{
      display:block;font-size:2.125rem;letter-spacing:-2px}
    .hr_prize .hr_coupon .hr_tips{
      display:block;font-size:.5rem;line-height:1.125em;margin:.0625rem 0 0 .25rem;width:1em
    }
    .hr_friends_wrap{
      display:none;position:relative;-webkit-transform:translateZ(0);transform:translateZ(0)}
    .hr_wrap.hr_exhaust .hr_friends_wrap,.hr_wrap.hr_friend_exhaust .hr_friends_wrap,.hr_wrap.hr_helped .hr_friends_wrap,
    .hr_wrap.hr_l4_1 .hr_friends_wrap,.hr_wrap.hr_l4_2 .hr_friends_wrap,.hr_wrap.hr_new .hr_friends_wrap,
    .hr_wrap.hr_suc .hr_friends_wrap,.hr_wrap.hr_unhelped .hr_friends_wrap{display:block}
    .hr_friends_wrap .hr_title{color:#000;font-size:.875rem;font-weight:700;text-align:center}
    .hr_friends_wrap .hr_friends{
      border-radius:.375rem;font-size:0;margin:0 auto;overflow:auto;
      -webkit-overflow-scrolling:touch;overflow-x:auto;overflow-y:hidden;
      text-align:center;white-space:nowrap;width:88%}
    .hr_friends_wrap .hr_friends>li{
      display:inline-block;padding:.625rem 0;
      vertical-align:top;width:20%}
    .hr_friends_wrap .hr_friends>li:first-child{
      margin-left:7%}
    .hr_friends_wrap .hr_friends>li:last-child{margin-right:7%}
    .hr_friends_wrap .hr_avatar{
      background:#fff url(../images/people.png);
      background-size:100% 100%;border:2px solid #fff;border-radius:50%;box-shadow:0 .125rem .5rem rgba(0,0,0,.2);
      display:block;margin:0 auto;padding-bottom:70%;position:relative;width:70%}
    .hr_friends_wrap .hr_avatar>img{
      border-radius:50%;bottom:0;height:100%;left:0;position:absolute;width:100%}
    .hr_friends_wrap .hr_name{
      color:#4a2706;font-size:.75rem;height:1rem;margin-top:.5rem;overflow:hidden;padding:0 .5em;text-overflow:ellipsis}
    .hr_ads{display:none;margin:0 auto;overflow:hidden;padding-bottom:6%;position:relative;-webkit-transform:translateZ(0);
      transform:translateZ(0);width:78%}
    .hr_wrap.hr_exhaust .hr_ads,.hr_wrap.hr_friend_exhaust .hr_ads,.hr_wrap.hr_helped .hr_ads,
    .hr_wrap.hr_show_prize .hr_ads,.hr_wrap.hr_suc .hr_ads{display:block}
    .hr_ads>li{float:left;margin-top:.375rem;width:50%}
    .hr_ads>li:nth-child(3n+1){width:100%}
    .hr_ads>li:first-child{margin-top:0}
    .hr_ad{
      background:#fff;border-radius:.6875rem;box-shadow:0 .125rem .5rem rgba(0,0,0,.2);
      display:block;padding-bottom:63%;position:relative}
    .hr_ads>li:nth-child(3n) .hr_ad{margin-left:1.5%}.hr_ads>li:nth-child(3n+1) .hr_ad{padding-bottom:30.8%}.hr_ads>li:nth-child(3n+2) .hr_ad{
      margin-right:1.5%}
    .hr_ad img{border-radius:.625rem}
    .hr_bottom_nav_wrap{display:none;padding-bottom:12%}
    .hr_wrap.hr_exhaust .hr_bottom_nav_wrap,.hr_wrap.hr_friend_exhaust .hr_bottom_nav_wrap,
    .hr_wrap.hr_helped .hr_bottom_nav_wrap,.hr_wrap.hr_suc .hr_bottom_nav_wrap{display:block}
    .hr_bottom_nav{
      background-position:76.108% 63%;background-size:308.22%;bottom:0;left:5.4209%;padding-bottom:11.852%;
      position:fixed!important;width:89.158%;z-index:30}
    .hr_bottom_nav>li{
      height:100%;position:absolute;right:0;top:0;width:51%}
    .hr_bottom_nav>li:first-child{left:0;right:auto;width:49%}
    .hr_rule{position:fixed;z-index:50}
    @-webkit-keyframes ruleBgShow{
      0%{opacity:0;-webkit-transform:translate3d(0,3%,0)}}
    @keyframes ruleBgShow{0%{opacity:0;transform:translate3d(0,3%,0)}}
    .hr_rule_bg{
      -webkit-animation:ruleBgShow .3s;animation:ruleBgShow .3s;
      background:#0d713b;bottom:0;left:0;position:absolute;top:16%;width:100%
    }
    .hr_close_rule_btn{
      border:3px solid #fff;border-radius:50%;box-sizing:border-box;height:2.25rem;
      left:50%;margin:-3rem 0 0 -1.125rem;position:absolute;top:0;width:2.25rem
    }
    .hr_close_rule_btn:after,.hr_close_rule_btn:before{
      background:#fff;content:'';height:3px;left:50%;margin:-1px 0 0 -35%;
      position:absolute;top:50%;width:70%
    }
    .hr_close_rule_btn:before{
      -webkit-transform:rotate(45deg);transform:rotate(45deg)}
    .hr_close_rule_btn:after{
      -webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
    .hr_rule_content{
      color:#fff;height:100%;left:0;overflow:auto;position:absolute;
      top:0;-webkit-overflow-scrolling:touch;width:100%}
    .hr_rule_title{
      border-bottom:2px solid rgba(0,0,0,.2);font-size:1.125rem;font-weight:700;margin:0 1.5rem;padding:1.5rem 0 .875rem;
      text-align:center}
    .hr_rule_list{
      box-sizing:border-box;font-size:1rem;line-height:1.75em;list-style:decimal;margin:.75rem auto 0;padding:0 0 2rem 1.25em;
      text-align:justify;width:84%
    }
    .hr_rule_list ol{
      padding-left:1.5em;text-indent:-1.5em
    }
    .retry_img0{
      background:url(../images/retry.png) no-repeat
    }
    .retry{font-size:16px;height:100%;left:0;position:fixed;top:0;width:100%;z-index:100}
    @media(max-width:410px){.retry{font-size:15px}}
    @media(max-width:380px){.retry{font-size:14px}}
    @media(max-width:350px){.retry{font-size:13px}}
    @media(max-width:320px){.retry{font-size:12px}}
    @-webkit-keyframes retryOverlayShow{
      0%{opacity:0}}
    @keyframes retryOverlayShow{0%{opacity:0}}
    .retry_overlay{
      -webkit-animation:retryOverlayShow .3s;
      animation:retryOverlayShow .3s;
      background:#000;
      height:100%;
      left:0;
      opacity:.6;
      position:absolute;
      top:0;width:100%
    }
    @-webkit-keyframes retryContentShow{
      0%{opacity:0;-webkit-transform:translate3d(0,-150%,0)}
      40%{opacity:1;-webkit-transform:translate3d(0,-48%,0)}
      55%{opacity:1;-webkit-transform:translate3d(0,-51.5%,0)}
      70%{opacity:1;-webkit-transform:translate3d(0,-49%,0)}
      85%{opacity:1;-webkit-transform:translate3d(0,-50.5%,0)}
      to{opacity:1;-webkit-transform:translate3d(0,-50%,0)}}
    @keyframes retryContentShow{
      0%{opacity:0;transform:translate3d(0,-150%,0)}
      40%{opacity:1;transform:translate3d(0,-48%,0)}
      55%{opacity:1;transform:translate3d(0,-51.5%,0)}
      70%{opacity:1;transform:translate3d(0,-49%,0)}
      85%{opacity:1;transform:translate3d(0,-50.5%,0)}
      to{opacity:1;transform:translate3d(0,-50%,0)}}
    .retry_content{
      -webkit-animation:retryContentShow .5s;
      animation:retryContentShow .5s;
      background:#fff3e4;border-radius:1em;left:19%;padding:13% 0 10%;position:absolute;top:50%;
      -webkit-transform:translateY(-50%);transform:translateY(-50%);width:62%}
    .retry_icon{background-position:0 98%;background-size:171%;margin-left:22%;padding-bottom:49%;width:52.6%}
    .retry_txt{
      color:#5e0000;font-size:1.125em;line-height:1.25em;margin:.8em auto 0;padding:.25em 0;text-align:center;
      white-space:pre;width:92%}
    .retry_btn{
      background-position:0 0;background-size:100%;display:block;margin:.6em auto 0;padding-bottom:19.2%;position:relative;
      text-align:center;width:90.8%}
    .retry_btn_txt{
      color:#6f062c;font-size:1.25em;left:0;margin-top:-.625em;position:absolute;text-shadow:0 1px 0 #fff2bf;
      top:51.5%;white-space:pre;width:100%}.toast_common{position:absolute;width:100%;height:100%}
    .toast_common .overlay{
      position:fixed;left:0;top:0;z-index:99;width:100%;height:100%;bottom:0;background-color:rgba(0,0,0,.8);
      -webkit-animation:"overlay" .6s ease-in-out both}
    @-webkit-keyframes overlay{
      0%{opacity:0}to{opacity:1}}
    .alert-box{
      position:absolute;top:20%;left:50%;margin-left:-139px;padding-top:40px;z-index:100;width:278px;font-size:14px;
      background-color:#fff;border-radius:5px;font-family:microsoft yahei,Verdana,Arial,Helvetica,sans-serif}
    .alert-title{font-size:18px;text-align:center}
    .alert-content{width:90%;margin:0 auto}
    .alert-msg{color:#666;margin:20px 0}
    .code-con,.num-con{position:relative;overflow:hidden;margin-bottom:10px;font-size:14px}
    .code-input{float:left;width:49%}
    .packet-num .num-input{width:89%}
    .packet-num .num-con .close{left:79%}
    .num-input{width:92%}
    .code-con .close{padding:10px;left:43%;padding-right:0;top:27%}
    .num-con .close{left:82%;padding:10px;top:27%}
    .code-con a{
      padding:11px 1px;border-radius:0;float:left;margin:0;width:42%;height:20px;text-align:center;color:#fff;
      background-color:#ffa200;border:1px solid #979797;border-left:none;line-height:20px;text-decoration:none}
    .code-con .count{color:#fff;background-color:#999}
    .alert-info{color:red}
    .alert-btn{margin-top:30px;overflow:hidden;border-top:1px solid #ddd}
    .alert-btn a{font-size:14px;float:left;width:50%;text-align:center;padding:12px 0;color:#777;text-decoration:none}
    .alert-btn .okay{color:#fff;background:#ff9001;border-bottom-right-radius:5px}
    .toastTips{
      position:fixed;top:50%;margin-left:-150px;left:50%;z-index:100;width:300px;padding:10px 0;
      border-radius:6px;background-color:rgba(0,0,0,.7);text-align:center;color:#fff}
    .toast_common input{
      padding:12px 8px;border:1px solid #979797;border-radius:0;background:#fff;font-family:inherit}
    .close{position:absolute;z-index:99;width:22px;height:22px;
      background:url(../images/cross.png) 50% no-repeat;
      background-size:14px;top:50%;margin-top:-11px}
    .myhidden{display:none}
    .condition-con{font-size:16px;text-align:center;background-color:#fff;width:100%;overflow:hidden}
    .condition-img{width:39%;margin:90px auto 20px}
    .condition-info{color:#adadad}
    .condition-link{display:block;width:65%;margin:20px auto;padding:10px;color:#adadad;border:1px solid #adadad;
      border-radius:7px}.jd-logo{margin:0 auto;width:40%;margin-top:20%
    }
